[Unit]
Description=hostap service
After=network.target
After=local-fs.target
#StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=true
#Restart=always
#RestartSec=1
User=root
ExecStart=/usr/sbin/hp.sh

[Install]
WantedBy=multi-user.target
